* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 3rem;
    width: 70%;
    max-width: 800px;

    font-family: sans-serif;
    font-size: larger;

    background-color: rgb(16, 16, 16);
    color: #f7f7f7;
}

strong, a {
    font-weight: 900;
    font-size: 140%;
    color: rgb(255, 53, 53);
}

.title {
    font-size: 40px;
    padding: 1rem;
}

body>div {
    display: flex;
    align-items: start;
}

.sidebar {
    flex-shrink: 0;
    width: 100%;
    max-width: 150px;
}

body>article {
    flex-grow: 1;
}

.sidebar>article {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#logo {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
}

h1#marquee {
    border-width: 3px 0 3px 0;
    border-color: black;
    border-style: ridge;
}

h3 {
    transform: rotate(-1deg);
    margin-bottom: -0.6rem;
    text-decoration: underline;
}

body img {
    display: block;
    margin: auto;
    width: 60%;
}