name: Bundle app for macOS

on:
  push:
    tags:
      - 'v*.*.*' 

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Rust
      uses: actions/setup-rust@v1
      with:
        rust-version: 'stable'

    - name: Install cargo-bundle
      run: cargo install cargo-bundle

    - name: Build macOS app
      run: cargo bundle --release

    - name: Upload macOS app to GitHub Releases
      uses: softprops/action-gh-release@v1
      with:
        files: target/release/bundle/osx/Fetch.app
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Rename and upload to GitHub Releases
      run: |
        arch=$(uname -m)
        app_version="${GITHUB_REF#refs/tags/}"
        app_name="Fetch-${app_version}-${arch}.app"
        mv target/release/bundle/osx/Fetch.app target/release/bundle/osx/$app_name
        
        gh release upload ${{ github.ref }} target/release/bundle/osx/$app_name --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

